@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Montserrat-heading;
  src: url(/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-subheading;
  src: url(/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url(/fonts/OpenSans-SemiBold.ttf);
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(100vh - 50px));
  }
}

.dot {
  animation: move 5s infinite alternate ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #778da9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #415a77;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b263b;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}
